* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Segoe UI", sans-serif;
}

body {
  background-color: #0f172a;
  color: white;
  scroll-behavior: smooth;
}

/* NAVBAR */
nav {
  display: flex;
  justify-content: space-between;
  padding: 20px 40px;
  background: #111827;
  position: sticky;
  top: 0;
}

nav a {
  color: white;
  text-decoration: none;
  margin-left: 20px;
}

nav a:hover {
  color: #38bdf8;
}

/* HERO */
.hero {
  height: 90vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
}

.hero h1 {
  font-size: 50px;
}

.hero p {
  color: #94a3b8;
  margin-top: 10px;
}

/* SECTIONS */
section {
  padding: 80px 20px;
  text-align: center;
}

h2 {
  font-size: 32px;
  margin-bottom: 20px;
  color: #38bdf8;
}

/* SKILLS */
.skills-grid {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(120px, 1fr));
  gap: 15px;
  max-width: 600px;
  margin: auto;
}

.skill-box {
  background: #1e293b;
  padding: 15px;
  border-radius: 10px;
}

/* PROJECTS */
.project-card {
  background: #1e293b;
  padding: 20px;
  margin: 15px auto;
  max-width: 500px;
  border-radius: 10px;
}

/* CONTACT */
input, textarea {
  width: 300px;
  padding: 10px;
  margin: 10px;
  border-radius: 5px;
  border: none;
}

button {
  padding: 10px 20px;
  background: #38bdf8;
  border: none;
  cursor: pointer;
  border-radius: 5px;
}

button:hover {
  background: #0ea5e9;
}

/* FOOTER */
footer {
  padding: 20px;
  background: #111827;
  text-align: center;
  margin-top: 40px;
}